<div class="row justify-content-center d-flex" style="gap: 16px;">
  <div class="show-list" style="width: 64rem; margin-bottom: 40px;">
    <div class="card-body">
      <%= link_to "〱 Back to all lists", lists_path, class: "card-text text-secondary" %>
      <div class="d-flex justify-content-between mb-4 mt-4">
        <h3 class="card-title"><%= @list.name %></h3>
        <%= link_to "Add a movie", bookmark_new_path, class: "btn btn-primary" %>
      </div>
      <div class="main-grid">
            <% @bookmarks.each do |bookmark| %>
              <div class="card" style="width: 19rem;">
                <img src="<%= bookmark.movie.poster_url %>" class="card-img-top img-fluid" alt="<%= bookmark.movie.title %> Poster">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title"><%= bookmark.movie.title %></h5>
                    <h6 style="font-weight: 300;"><%= bookmark.movie.rating %></h6>
                  </div>
                    <p class="text-secondary"><%= bookmark.movie.overview %></p>
                    <p><%= bookmark.comment %></p>
                    <%= link_to "Remove", list_bookmark_path(list_id: @list.id, bookmark_id: bookmark.id), data: { turbo_method: :delete }, class: "text-danger" %>
                </div>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
